body
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 2000px;
    background-color: rgb(24, 24, 24);

}

.img_main
{
    position: absolute;
    top: 95px;
    left: 12.5%;
    margin: 0 0 0 0;
    width: 75%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: -1;
}

.navi
{
    position: fixed;
    background-color: rgba(34, 100, 187, 0.74);
    top: 0;
    width: 100%;
    height: 65px;
}

#headline
{
    position: fixed;
    height: 55px;
    width: 175px;
    top: 5px;
    left: 48%;
    cursor: pointer;
    z-index: 10;
}

#headline_img
{
    position: absolute;
    top: 0px;
}

#headline_font
{
    position: absolute;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    left: 65px;
    margin: 12.5px 0 0 0;
}

#link_discord
{
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 10;
}

#disclaimer
{
    position: absolute;
    top: 1000px;
    background-color: rgb(99, 99, 99);
    left: 20px;
    border: white solid 1px;
    border-radius: 10px;
}

#disclaimer_font
{
    color: white;
    padding: 0 10px 0 10px;
}

.projects_dropdown
{
    position: absolute;
    top: 200px;
    left: 0px;
    color: white;
}

.projects_dropdown_content
{
    position: relative;
    width: 100%;
    display: none;
}

.projects_dropdown_content:hover
{
    display: inline-block;
    position: relative;
}

#test
{
    position: absolute;
    top: 500px;
}

#button_temp
{
    position: absolute;
    top: 1000px;
}